<div class="container">
    <h1>Name your minions!</h1>
    <%= form_tag(minion_create_path(@game), method: :post) do %>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">
                <% @minions_quantity.times do |i| %>
                <div class="form-group">
                  <%= label_tag "Minion #{i+1}\'s name" ,nil, class:"col-sm-4 control-label" %>
                  <div class="col-sm-8">
                    <%= text_field_tag "names[#{i}]", nil, class: 'form-control' %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <%= submit_tag "Onwards!", class: "btn btn-primary btn-lg btn-block" %>
            </div>
        </div>
    <% end %>
</div>
