<div class="container background">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title1">Name your minions!</h1>
    </div>
  </div>
  <%= form_tag(minion_create_path(@game), method: :post) do %>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-horizontal">
          <% @minions_quantity.times do |i| %>
            <div class="form-group">
                <div class="col-sm-4">
                  <h2 class="title2">
                    <%= "Minion #{i+1}\'s name:" %>
                  </h2>
                </div>
                <div class="col-sm-8 minions-names">
                  <%= text_field_tag "names[#{i}]", nil, class: 'clear-style minions' %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= submit_tag "Onwards!", class: "hide names-submit" %>
  <% end %>
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="tip">
        Type minions names, then enter
      </div>
    </div>
  </div>
</div>
