<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title1">Name your minions!</h1>
    </div>
  </div>
  <%= form_tag(minion_create_path(@game), method: :post) do %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-horizontal">
          <% @minions_quantity.times do |i| %>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="title2 text-right">
                    <%= "Minion #{i+1}\'s name" %>
                  </h2>
                </div>
                <div class="col-md-6 minions-names">
                  <%= text_field_tag "names[#{i}]", nil, class: 'clear-style minions' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= submit_tag "Onwards!", class: "hide" %>
  <% end %>
</div>
