<div class="container ">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title1">You're the Summoner!</h1>
    </div>
  </div>
  <%= form_tag(game_create_path, method: :post) do %>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-6">
                <h2 class="title2 text-right">How many minions will be helping you?</h2>
              </div>
              <div class="col-sm-6">
                <%= text_field_tag 'quantity', '', min:3, class: 'clear-style minions' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= submit_tag "Next!", class: "hide" %>
  <% end %>
</div>
