<div class="container">
  <h1>Welcome Summoner!</h1>
  <%= form_tag(game_create_path, method: :post) do %>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-horizontal">
            <div class="form-group">
              <%= label_tag 'How many minions do you want?',nil, class:"col-sm-4 control-label" %>
              <div class="col-sm-8">
                <%= number_field_tag 'quantity', 3, min:3,class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <%= submit_tag "Next!", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      </div>
  <% end %>

</div>
