<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title1">Spell ready!</h1>
    </div>
  </div>
  <div class ="row">
    <div class="col-sm-12 text-center">
      <h1 class="title1"> Your spell is <%= @game.solution_percentage(@player_solution).round() %>% accurate!!</h1>
      <h3 class="title3"> in <%=@game.time%> secs </h3>
      <% if @game.solution_percentage(@player_solution).round() < 0 %>
        <h3 class="title3">Negative!? Are you even trying?</h3>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center">Press 'enter' to play again.</h3>
      <%= link_to "Try again", root_path, class:"hide result-back-button" %>
    </div>
  </div>
</div>
