<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="title1">Crypto Summoners!</h1>
    </div>
    <div class="col-sm-12 text-center">
      <%= link_to "New Game", game_new_path, class: "btn btn-lg btn-primary" %>
    </div>
	<div class="col-sm-12 text-center">
		<h1>Le JOIN</h1>
		<h2>Intrduce your minion code</h2>
		<%= form_tag(show_joins_path, method: :post) do %>
			<%= text_field_tag 'code', '', class: 'clear-style minions' %>
			<%= submit_tag "Next!", class: "hide" %>
		<% end -%>
	</div>
  </div>
</div>
