<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="title1">Crypto Summoners!</h1>
    </div>
    <div class="col-sm-12 text-center">
      <%= link_to "New Game", game_new_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Join Game", game_join_path , class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
